<!-- app/views/shared/_player.html.erb -->
<div dir="ltr" class="fixed bottom-0 left-0 right-0 bg-gray-900 border-t border-gray-800 px-4 py-2 md:py-3 z-50" 
     data-controller="player" 
     data-player-current-time-value="0" 
     data-player-duration-value="0"
     data-player-current-song-id-value="">
  
  <div class="flex items-center justify-between">
    <!-- Song Info -->
    <div class="flex items-center min-w-0 flex-1 md:flex-none md:w-80 cursor-pointer md:cursor-default" 
         data-action="click->player#openMobilePlayer">
      <div class="w-12 h-12 md:w-14 md:h-14 bg-gray-800 rounded-md mr-3 flex-shrink-0" data-player-target="albumCover">
        <img src="" alt="" class="w-full h-full rounded-md object-cover hidden" data-player-target="albumImage">
      </div>
      <div class="min-w-0 flex-1 md:flex-none">
        <p class="text-sm font-medium text-white truncate" data-player-target="songTitle">Choose a song</p>
        <p class="text-xs text-gray-400 truncate" data-player-target="artistName">No artist</p>
      </div>
      <button class="ml-3 p-1 hover:bg-gray-800 rounded hidden md:block" 
              data-action="click->player#toggleLike" 
              data-player-target="likeButton">
        <svg class="w-4 h-4 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
          <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd"/>
        </svg>
      </button>
    </div>

    <!-- Desktop Player Controls -->
    <div class="flex-1 max-w-2xl mx-4 hidden md:block">
      <div class="flex items-center justify-center mb-2">
        <button class="p-2 hover:bg-gray-800 rounded-full text-gray-400" 
                data-action="click->player#toggleShuffle" 
                data-player-target="shuffleButton">
          <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 16 16">
            <path d="M13.151.922a.75.75 0 1 0-1.06 1.06L13.109 3H11.16a3.75 3.75 0 0 0-2.873 1.34l-6.173 7.356A2.25 2.25 0 0 1 .39 12.5H0V14h.391a3.75 3.75 0 0 0 2.873-1.34l6.173-7.356a2.25 2.25 0 0 1 1.724-.804h1.947l-1.017 1.018a.75.75 0 0 0 1.06 1.06L15.98 3.75zM.391 3.5H0V2h.391c1.109 0 2.16.49 2.873 1.34L4.89 5.277l-.979 1.167-1.796-2.14A2.25 2.25 0 0 0 .39 3.5z"></path>
            <path d="m7.5 10.723.98-1.167.957 1.14a2.25 2.25 0 0 0 1.724.804h1.947l-1.017-1.018a.75.75 0 1 1 1.06-1.06l2.829 2.828-2.829 2.828a.75.75 0 1 1-1.06-1.06L13.109 13H11.16a3.75 3.75 0 0 1-2.873-1.34l-.787-.938z"></path>
          </svg>
        </button>
        
        <button class="p-2 hover:bg-gray-800 rounded-full" 
                data-action="click->player#previousTrack" 
                data-player-target="previousButton">
          <svg class="w-5 h-5 text-gray-400 hover:text-white" fill="currentColor" viewBox="0 0 20 20">
            <path d="M8.445 14.832A1 1 0 0010 14v-2.798l5.445 3.63A1 1 0 0017 14V6a1 1 0 00-1.555-.832L10 8.798V6a1 1 0 00-1.555-.832l-6 4a1 1 0 000 1.664l6 4z"/>
          </svg>
        </button>
        
        <button class="p-3 bg-white hover:bg-gray-100 text-black rounded-full hover:scale-105 transition-transform" 
                data-action="click->player#togglePlay" 
                data-player-target="playButton">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5" data-player-target="playIcon">
            <path fill-rule="evenodd" d="M4.5 5.653c0-1.427 1.529-2.33 2.779-1.643l11.54 6.347c1.295.712 1.295 2.573 0 3.286L7.28 19.99c-1.25.687-2.779-.217-2.779-1.643V5.653Z" clip-rule="evenodd" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5 hidden" data-player-target="pauseIcon">
            <path fill-rule="evenodd" d="M6.75 5.25a.75.75 0 0 1 .75-.75H9a.75.75 0 0 1 .75.75v13.5a.75.75 0 0 1-.75.75H7.5a.75.75 0 0 1-.75-.75V5.25Zm7.5 0A.75.75 0 0 1 15 4.5h1.5a.75.75 0 0 1 .75.75v13.5a.75.75 0 0 1-.75.75H15a.75.75 0 0 1-.75-.75V5.25Z" clip-rule="evenodd" />
          </svg>
        </button>
        
        <button class="p-2 hover:bg-gray-800 rounded-full" 
                data-action="click->player#nextTrack" 
                data-player-target="nextButton">
          <svg class="w-5 h-5 text-gray-400 hover:text-white" fill="currentColor" viewBox="0 0 20 20">
            <path d="M4.555 5.168A1 1 0 003 6v8a1 1 0 001.555.832L10 11.202V14a1 1 0 001.555.832l6-4a1 1 0 000-1.664l-6-4A1 1 0 0010 6v2.798l-5.445-3.63z"/>
          </svg>
        </button>
        
        <button class="p-2 hover:bg-gray-800 rounded-full text-gray-400" 
                data-action="click->player#toggleRepeat" 
                data-player-target="repeatButton">
          <!-- Regular repeat icon -->
          <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 16 16" data-player-target="repeatIcon">
            <path d="M0 4.75A3.75 3.75 0 0 1 3.75 1h8.5A3.75 3.75 0 0 1 16 4.75v5a3.75 3.75 0 0 1-3.75 3.75H9.81l1.018 1.018a.75.75 0 1 1-1.06 1.06L6.939 12.75l2.829-2.828a.75.75 0 1 1 1.06 1.06L9.811 12h2.439a2.25 2.25 0 0 0 2.25-2.25v-5a2.25 2.25 0 0 0-2.25-2.25h-8.5A2.25 2.25 0 0 0 1.5 4.75v5A2.25 2.25 0 0 0 3.75 12H5v1.5H3.75A3.75 3.75 0 0 1 0 9.75z"></path>
          </svg>
          <!-- Repeat one icon -->
          <svg class="w-4 h-4 hidden" fill="currentColor" viewBox="0 0 16 16" data-player-target="repeatOneIcon">
            <path d="M0 4.75A3.75 3.75 0 0 1 3.75 1h.75v1.5h-.75A2.25 2.25 0 0 0 1.5 4.75v5A2.25 2.25 0 0 0 3.75 12H5v1.5H3.75A3.75 3.75 0 0 1 0 9.75zM12.25 2.5a2.25 2.25 0 0 1 2.25 2.25v5A2.25 2.25 0 0 1 12.25 12H9.81l1.018-1.018a.75.75 0 0 0-1.06-1.06L6.939 12.75l2.829 2.828a.75.75 0 1 0 1.06-1.06L9.811 13.5h2.439A3.75 3.75 0 0 0 16 9.75v-5A3.75 3.75 0 0 0 12.25 1h-.75v1.5z"></path>
            <path d="m8 1.85.77.694H6.095V1.488q1.046-.077 1.507-.385.474-.308.583-.913h1.32V8H8z"></path>
          </svg>
        </button>
      </div>
      
      <!-- Progress Bar -->
      <div class="flex items-center space-x-2">
        <span class="text-xs text-gray-400 w-10 text-right" data-player-target="currentTime">0:00</span>
        <div class="flex-1 bg-gray-600 rounded-full h-1 cursor-pointer group" 
             data-action="click->player#seek" 
             data-player-target="progressBar">
          <div class="bg-white h-1 rounded-full transition-all duration-100 group-hover:bg-green-500" 
               style="width: 0%" 
               data-player-target="progress"></div>
        </div>
        <span class="text-xs text-gray-400 w-10" data-player-target="totalTime">0:00</span>
      </div>
    </div>

    <!-- Mobile Play Button -->
    <div class="md:hidden">
      <button class="p-2 bg-white hover:bg-gray-100 text-black rounded-full" 
              data-action="click->player#togglePlay" 
              data-player-target="mobilePlayButton">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5" data-player-target="mobilePlayIcon">
          <path fill-rule="evenodd" d="M4.5 5.653c0-1.427 1.529-2.33 2.779-1.643l11.54 6.347c1.295.712 1.295 2.573 0 3.286L7.28 19.99c-1.25.687-2.779-.217-2.779-1.643V5.653Z" clip-rule="evenodd" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5 hidden" data-player-target="mobilePauseIcon">
          <path fill-rule="evenodd" d="M6.75 5.25a.75.75 0 0 1 .75-.75H9a.75.75 0 0 1 .75.75v13.5a.75.75 0 0 1-.75.75H7.5a.75.75 0 0 1-.75-.75V5.25Zm7.5 0A.75.75 0 0 1 15 4.5h1.5a.75.75 0 0 1 .75.75v13.5a.75.75 0 0 1-.75.75H15a.75.75 0 0 1-.75-.75V5.25Z" clip-rule="evenodd" />
        </svg>
      </button>
    </div>

    <!-- Desktop Volume Control -->
    <div class="hidden md:flex items-center space-x-2 w-32">
      <button class="p-1 hover:bg-gray-800 rounded" data-action="click->player#toggleMute">
        <!-- Volume icon -->
        <svg class="w-4 h-4 text-gray-400 hover:text-white" fill="currentColor" viewBox="0 0 16 16" data-player-target="volumeIcon">
          <path d="M9.741.85a.75.75 0 0 1 .375.65v13a.75.75 0 0 1-1.125.65l-6.925-4a3.64 3.64 0 0 1-1.33-4.967 3.64 3.64 0 0 1 1.33-1.332l6.925-4a.75.75 0 0 1 .75 0zm-6.924 5.3a2.14 2.14 0 0 0 0 3.7l5.8 3.35V2.8zm8.683 4.29V5.56a2.75 2.75 0 0 1 0 4.88"></path>
          <path d="M11.5 13.614a5.752 5.752 0 0 0 0-11.228v1.55a4.252 4.252 0 0 1 0 8.127z"></path>
        </svg>
        <!-- Mute icon -->
        <svg class="w-4 h-4 text-gray-400 hover:text-white hidden" fill="currentColor" viewBox="0 0 16 16" data-player-target="volumeMuteIcon">
          <path d="M13.86 5.47a.75.75 0 0 0-1.061 0l-1.47 1.47-1.47-1.47A.75.75 0 0 0 8.8 6.53L10.269 8l-1.47 1.47a.75.75 0 1 0 1.06 1.06l1.47-1.47 1.47 1.47a.75.75 0 0 0 1.06-1.06L12.39 8l1.47-1.47a.75.75 0 0 0 0-1.06"></path>
          <path d="M10.116 1.5A.75.75 0 0 0 8.991.85l-6.925 4a3.64 3.64 0 0 0-1.33 4.967 3.64 3.64 0 0 0 1.33 1.332l6.925 4a.75.75 0 0 0 1.125-.649v-1.906a4.7 4.7 0 0 1-1.5-.694v1.3L2.817 9.852a2.14 2.14 0 0 1-.781-2.92c.187-.324.456-.594.78-.782l5.8-3.35v1.3c.45-.313.956-.55 1.5-.694z"></path>
        </svg>
      </button>
      <div class="flex-1 bg-gray-600 rounded-full h-1 cursor-pointer group" 
           data-action="click->player#changeVolume" 
           data-player-target="volumeBar">
        <div class="bg-white h-1 rounded-full group-hover:bg-green-500" 
             style="width: 80%" 
             data-player-target="volumeProgress"></div>
      </div>
    </div>
  </div>

  <!-- Hidden Audio Element -->
  <audio data-player-target="audio" preload="metadata"></audio>
</div>

<!-- Mobile Player Modal -->
<%= render 'shared/mobile_player' %>